<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        {{>header}}
        <img src="/img/user.jpg">

                 {{>footer}}

    </body>
</html>