<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    <style>
        body{
            background-image: url('/img/background3.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    </head>
    <body>
        <div>
        {{>header}}
        <P>Use This Site To check Current Weather of Any Place</P>

<form>
    {{!-- <input placeholder="Enter Location">&nbsp;&nbsp;<button>Search</button> --}}
    <div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Enter Location..">
      <button type="submit" class="searchButton">
        Search
     </button>
   </div>
</div>
</form>

<br><br><br><br>
<p id="message-1" style="border:2px solid #ffff33; background-color: #ccffff;"></p>
<pre id="message-2" style="border:2px solid DodgerBlue; "></pre>

<a href="https://indianexpress.com/section/weather/">Read Latest Weather News</a>
</div>
                {{>footer}}
         <script src="/js/app.js"></script>

    </body>
</html>