@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 77px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(0%, 5%);
}
body{
color : lightcoral;
font-family : arial;
max-width : 140 px;
margin : 100px 200px;
padding: 100 160 px;
}

footer{
color : #888888;
border-top: 1px solid #eeeeee;
margin-top: 16 px;
padding : 16px 0;
}

header{
margin-top : 16px;
margin-bottom:48px;
font-size: 35px;
}

a{
color: #888888;
margin-right: 16px;
text-decoration: none;
}

img{
    height: 350px;
    width: 250px;
}

input{
border: 2px solid;
padding: 6px;
}

button{
cursor: pointer;
border: 1 px solid;
background: #888888;
color: white;
padding: 6px;
}

a:link, a:visited {
    color: (internal value);
    text-decoration: underline;
    
  }
  
  a:link:active, a:visited:active {
    color: (internal value);
  }